In [7]:
import pandas as pd
from bs4 import BeautifulSoup
import requests
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.chrome.options import Options
from selenium.webdriver.chrome.service import Service
from webdriver_manager.chrome import ChromeDriverManager
import time

import os
import progressbar
from more_itertools import chunked

In [115]:
df = pd.read_csv('/Users/jang/Library/CloudStorage/GoogleDrive-gkfua00@gmail.com/내 드라이브/LiveCommerse/Channel_Rank_total.csv')
df

,Channel_Name,Channel_number,Num_Sub,Num_Video,Total_View,Best_View,Worst_View
0,산토리니,2,83.0,48,116.0,47.0,0.0
1,아디다스,3,21000.0,15,173516.0,100000.0,3426.0
2,구구구,4,36.0,38,138.0,27.0,0.0
3,뷰티테스트1_인디,5,2.0,18,218.0,47.0,2.0
4,리빙테스트_홈앤데코,6,0.0,0,0.0,0.0,0.0
...,...,...,...,...,...,...,...
103803,솔직상점-,112196,24.0,0,0.0,0.0,0.0
103804,오얏트리,112197,5.0,0,0.0,0.0,0.0
103805,꽃피다 봄날,112198,13.0,0,0.0,0.0,0.0
103806,다롱세상,112199,10.0,0,0.0,0.0,0.0
103807,아들렌,112200,234.0,0,0.0,0.0,0.0

In [116]:
df[['Beauty', 'Food', 'Fashion', 'Life', 'Tour/Experience', 'Kids', 'Tech', 'Hobby/Leisure', 'Culture']] = 0
df

,Channel_Name,Channel_number,Num_Sub,Num_Video,Total_View,Best_View,Worst_View,Beauty,Food,Fashion,Life,Tour/Experience,Kids,Tech,Hobby/Leisure,Culture
0,산토리니,2,83.0,48,116.0,47.0,0.0,0,0,0,0,0,0,0,0,0
1,아디다스,3,21000.0,15,173516.0,100000.0,3426.0,0,0,0,0,0,0,0,0,0
2,구구구,4,36.0,38,138.0,27.0,0.0,0,0,0,0,0,0,0,0,0
3,뷰티테스트1_인디,5,2.0,18,218.0,47.0,2.0,0,0,0,0,0,0,0,0,0
4,리빙테스트_홈앤데코,6,0.0,0,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
103803,솔직상점-,112196,24.0,0,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0
103804,오얏트리,112197,5.0,0,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0
103805,꽃피다 봄날,112198,13.0,0,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0
103806,다롱세상,112199,10.0,0,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0
103807,아들렌,112200,234.0,0,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0

In [117]:
chrome_options = Options()
chrome_options.add_argument("--headless")
driver = webdriver.Chrome(service=Service(ChromeDriverManager().install()), options=chrome_options)

In [118]:
def appending():
    soup = BeautifulSoup(driver.page_source, 'html.parser')
    Channel_name1 = soup.select('label.Filter_label_DUyBa')
    for i in Channel_name1:
        i = str(i)
        i = i.split('</svg>')[1]
        i = i.split('<')[0]
        temp_list.append(i)

In [162]:
url = 'https://shoppinglive.naver.com/categories/dc:9'
temp_list = []
temp_list_search = []
driver.get(url)
time.sleep(3)

# 채널클릭
buttun2 = driver.find_element(By.XPATH, '//*[@id="channel"]')
buttun2.click()
time.sleep(1)

# ㄱ ~ ㅎ 추출
for i in range(1,15):
    try:
        buttun_1 = driver.find_element(By.XPATH, f'//*[@id="wa_filter_depth3_tab_{i}"]')
        buttun_1.click()
        time.sleep(1)
        appending()
    except:
        continue
time.sleep(1)

# 영어 채널 클릭.
buttun3 = driver.find_element(By.XPATH, '//*[@id="wa_filter_depth2_tab_1"]')
buttun3.click()
time.sleep(1)

# A~Z
for i in range(1,27):
    try:
        buttun_4 = driver.find_element(By.XPATH, f'//*[@id="wa_filter_depth3_tab_{i}"]')
        buttun_4.click()
        time.sleep(1)
        appending()
    except:
        continue

In [163]:
len(temp_list)

177

In [164]:
bar = progressbar.ProgressBar(maxval=len(temp_list)).start()

for j, i in enumerate(temp_list):
    df.loc[df['Channel_Name'] == i, 'Culture'] = 1
    bar.update(j)
    
bar.finish()

100% |########################################################################|

In [165]:
df[df['Culture'] == 1]

,Channel_Name,Channel_number,Num_Sub,Num_Video,Total_View,Best_View,Worst_View,Beauty,Food,Fashion,Life,Tour/Experience,Kids,Tech,Hobby/Leisure,Culture
230,파인아트 라이프 사진인화,266,7197.0,13,11597.0,1257.0,446.0,0,0,0,1,0,0,0,0,1
232,시냇가에심은나무들,270,902.0,81,5663.0,470.0,134.0,0,1,0,1,0,1,1,0,1
393,dic9global,462,1577.0,66,33995.0,3091.0,834.0,1,0,1,1,0,1,1,0,1
450,로사나라,529,118.0,12,8902.0,1235.0,199.0,1,0,1,0,0,0,0,0,1
496,갓피플몰,582,11000.0,89,35063.0,2783.0,1017.0,0,1,1,1,0,0,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88194,베누스하우스,96282,100.0,23,9661.0,1282.0,215.0,0,1,0,1,0,0,0,0,1
88258,렛유인,96351,1151.0,2,4736.0,2444.0,2292.0,0,0,0,0,0,0,0,1,1
88501,피무네서점 태국어 태국어책,96603,95.0,1,779.0,779.0,779.0,0,0,0,0,0,0,0,0,1
89587,단비마음,97717,481.0,12,11437.0,1846.0,609.0,1,1,0,0,1,0,0,0,1
101773,JEBS정철영어성경학교,110154,131.0,1,459.0,459.0,459.0,0,0,0,0,0,0,0,0,1

In [8]:
df = pd.read_csv('/Users/jang/Library/CloudStorage/GoogleDrive-gkfua00@gmail.com/내 드라이브/LiveCommerse/Total_DataFrame.csv')

/var/folders/dt/cjg6bnms6qqf7rxtdqjr4rk00000gn/T/ipykernel_2621/438663261.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('/Users/jang/Library/CloudStorage/GoogleDrive-gkfua00@gmail.com/내 드라이브/LiveCommerse/Total_DataFrame.csv')

In [9]:
df2 = df.sort_values(by='Num_Sub', ascending=False)

In [183]:
df2

,Channel_Name,Channel_number,Num_Sub,Num_Video,Total_View,Best_View,Worst_View,Beauty,Food,Fashion,Life,Tour/Experience,Kids,Tech,Hobby/Leisure,Culture
74957,골프Show핑라이브,82321,510000.0,19,6268000.0,610000.0,18000.0,1,1,1,0,0,0,0,1,0
67887,네벤져스,74651,48000.0,25,4686000.0,520000.0,36000.0,1,1,1,1,0,1,1,0,1
67438,마마프로젝트,74158,16000.0,20,4432585.0,400000.0,1585.0,0,1,0,1,1,1,0,0,0
67602,THE 블링쇼,74332,21000.0,41,4282000.0,410000.0,81000.0,0,0,1,0,0,0,0,0,0
73933,승우아빠,81216,69000.0,25,4120000.0,540000.0,17000.0,0,1,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36663,르쁘띠숑,39053,8554.0,0,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0
36662,지혜네 잡화점,39052,795.0,0,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0
36661,PASSOVER,39051,138.0,0,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0
36660,청정원샵,39050,310.0,0,0.0,0.0,0.0,0,1,0,0,0,0,0,0,0
103807,아들렌,112200,234.0,0,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0

In [10]:
df3 = df2[df2['Tour/Experience'] == 1]

In [19]:
df4 = df3[(df3['Food']==0) & (df3['Beauty']==0) & (df3['Life']==0) & (df3['Fashion']==0) & (df3['Kids']==0) & (df3['Tech']==0) & (df3['Hobby/Leisure']==0) & (df3['Culture']==0)]

In [20]:
df4

,Channel_Name,Channel_number,Num_Sub,Num_Video,Total_View,Best_View,Worst_View,Beauty,Food,Fashion,Life,Tour/Experience,Kids,Tech,Hobby/Leisure,Culture
60405,네이버 여행상품,66400,280000.0,47,1240901.0,290000.0,4295.0,0,0,0,0,1,0,0,0,0
61523,에버랜드,67619,44000.0,14,682000.0,120000.0,22000.0,0,0,0,0,1,0,0,0,0
63871,아쿠아필드,70207,25000.0,11,305756.0,44000.0,6756.0,0,0,0,0,1,0,0,0,0
69623,경주월드,76553,21000.0,8,282000.0,65000.0,18000.0,0,0,0,0,1,0,0,0,0
59702,올마이투어,65650,17000.0,26,817000.0,100000.0,19000.0,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77205,어디갈래,84729,51.0,1,7760.0,7760.0,7760.0,0,0,0,0,1,0,0,0,0
73497,이잼투어,80758,46.0,1,588.0,588.0,588.0,0,0,0,0,1,0,0,0,0
77556,제주페이,85124,41.0,1,1139.0,1139.0,1139.0,0,0,0,0,1,0,0,0,0
82846,미르숲샵,90708,29.0,2,1219.0,747.0,472.0,0,0,0,0,1,0,0,0,0
85623,인천관광공사,93629,18.0,1,21000.0,21000.0,21000.0,0,0,0,0,1,0,0,0,0

In [21]:
df5 = df3[(df3['Food']==1) | (df3['Beauty']==1) | (df3['Life']==1) | (df3['Fashion']==1) | (df3['Kids']==1) | (df3['Tech']==1) | (df3['Hobby/Leisure']==1) | (df3['Culture']==1)]

In [23]:
df5.sum()

Channel_Name       트레이더스신세계라이브쇼핑dseasonCJ온스타일케라스타즈주식회사 케이티알파어바웃펫 ...
Channel_number                                               7618302
Num_Sub                                                    1698766.0
Num_Video          8812249661934741163184217926828199534206410971...
Total_View                                                26344000.0
Best_View                                                  4846204.0
Worst_View                                                  308284.0
Beauty                                                            62
Food                                                              80
Fashion                                                           44
Life                                                              74
Tour/Experience                                                  116
Kids                                                              33
Tech                                                              22
Hobby/Leisure                                                     35
Culture                                                           19
dtype: object